.shopping-cart {
    display: grid;
    grid-template-columns: 1fr;

    // justify-content: center;
    // align-items: center;

    // align-content: center;
    justify-items: center;
    // column-gap: 30px;

}


.shopping-cart__button-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // margin: 0 auto;
    column-gap: 30px;

}

.shopping-cart__cards_wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    // align-items: center;
    justify-content: center;
}


.cart__commands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

.csv__link {
    font-size: 25px;
    text-decoration: none;
    color: #F43268;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;

}

.clear__cart {
    border: none;
    border-radius: 10px;
    color: #5c20aa;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    width: 28%;
}

h1 {
    text-align: center;
    padding: 2%;
}

.cart__profile {
    background-color: white;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    align-content: space-between;
    // box-shadow: 0px 0px 10px black;
    box-shadow: var(--centered-shadow);
}

.profile-card__contents {
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.3rem;
    align-content: flex-start;


}

.profile-card__name-row{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.profile-card__address-row-1,
.profile-card__address-row-2,
.profile-card__cohort-row {
    font-size: 16px;
    font-style: italic;
}


.remove__button {
    color: var(--primary-button-color);
    border-radius: 10px;
    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover{
        font-style: italic;

    }

    width: min(140px, 80%);
    padding: 10px;
    margin-top: 20px;
    font-weight:800;

}

.profile-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}