* {
    margin: 0;
    padding: 0;   
   }
   
   .file-uploader {
       display: flex;
       justify-content: center;
   
       height: 100vh;
   
       .file-upload-form {
           display: flex;
           flex-direction: column;
           border: 2px solid black;
           border-radius: 20px;
           height: 30vh;
           width: 40vw;
           padding: 10px;
           gap: 15px;
           align-items: center;
           justify-content: center;
           background: linear-gradient(to right, rgba(244, 50, 104, 0.3), rgba(52, 22, 98, 0.3));
       
           .submit_button {
               width: 20vw;
               height: 2.5vh;
           }
   
           input {
               height: 3vh;
               width: 20vw;
           }
   
       }
   }