input,
select {
    height: 1.5rem;
    padding-left: 4px;
    border-radius: 4px;
    border: none;

    margin: 4px;

    border: 1px solid #ccd0d5;
    background-color: #f5f6f7;
}

.file-uploader {

    margin: 15px;

    width: 400px;

    display: grid;
    grid-template-columns: 100%;
    box-shadow: var(--centered-shadow);
    border-radius: 10px;
    padding: 12px;
}

.file-upload-form{ 
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;
}

button {
    padding: 8px 15px;
    background-color: var(--primary-button-color);
    color: white;
    border: none;
    border-radius: 4px;
    width: 160px;
    margin: 0 auto;
}


.name-row,
.location-row-1,
.location-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 20px;
}

.keywords {
    width: 93%;
}


.uploaded-file-name-displayer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}