
.file-uploader-container {
    height: 300px;
}

.upload-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.upload__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

.upload-wrapper {
    margin-top: 10px;
}