.search__page {


    // background: linear-gradient(to right, rgba(244, 50, 104, 0.3), rgba(52, 22, 98, 0.3));
    // background: var(--wp--preset--gradient--midnight);
    // background: #0f0b22;
    background: white;
    height: 100vh;
}


.profile-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #F43268;
    border-left: 1px solid #F43268;
    border-radius: 15px;
}

.search__heading {
    text-align: center;
    font-size: 35px;
}

.search__body {
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 7px;
}

.filter__options {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #F43268;
    border-right: 1px solid #F43268;
    border-radius: 15px;
    

    .search__bar {
        margin: 10px;
        text-align: center;
        width: relative;

    }

    .filter__checkboxes {
        margin: 10px;
    }

    .date__dropdown {
        margin: 10px;
    }
}