.search__page {


    // background: linear-gradient(to right, rgba(244, 50, 104, 0.3), rgba(52, 22, 98, 0.3));
    // background: var(--wp--preset--gradient--midnight);
    // background: #0f0b22;
    background: white;
    height: 100vh;
}


.profile-card-wrapper {
    display: flex;
    flex-wrap: wrap;
}