.Header {
    height: 120px;
}

.nav-bar {
    height: 50%;
    // background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}