.Header {
    height: 120px;
}

.nav-bar {
    // width: 1200px;
    height: 50%;
    // background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    justify-content: space-between;
    padding: 10px;
}


.nav__buttons{
    display: flex;
    margin-right: 5%;
    
}

.nav__button {
    cursor: pointer;

    &:hover {
        color: var(--primary-button-color);
    }

    padding-right: 20%;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    
}